{% extends "base.html.twig" %}

{% block title %}Mes réservations{% endblock %}

{% block body %}
  <div class="container">
    <div class="h1">Mes réservations</div>
      <div class="alert alert-info mt-5">
        <p>La liste de toute vos réservations sur le site</p>
      </div>

      {% for booking in app.user.bookings %}
      {% set ad = booking.ad %}
        <div class="row">
          <div class="col-4">
            <img src="{{ad.coverImage}}" alt="photo de l'annonce {{ad.title}}" class="img-fluid">
            <div class="mt-3">
              {% set comment = ad.commentFromAuthor(app.user) %}
              {% if comment is not null %}
              <p class="text-center">Note pour cette annonce : {% include "partials/rating.html.twig" with {'rating': comment.rating}%}</p>
              {% else %}
                <p>Vous n'avez pas encore noté cette annonce</p>
              {% endif %}
            </div>
          </div>
          <div class="col-8">
            <h4>{{ad.title}}</h4>
            <p>
              Réservation n° {{booking.id}} <br>
              Du {{booking.startDate | date('d/m/Y')}} au {{booking.endDate | date('d/m/Y')}}
            </p>
            <a href="{{path('booking_show', {'id': booking.id})}}" class="btn btn-info">Plus d'information</a>
          </div>
        </div>
      {% endfor %}

  </div>
{% endblock %}